/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Common Css */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  background-color: #fd6e0a;
  color: #fff;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  margin-right: 50px;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #181818;
}
.logo {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

/* Header */
header {
  background-color: #fff8f3;
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-images {
  width: 450px;
  height: 510px;
}
.greeting {
  color: #474747;
  font-size: 45px;
  margin-bottom: 0;
}
.title {
  color: #181818;
  font-size: 70px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-content {
  max-width: 500px;
}
.banner-content p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 0;
}
.overlay {
  position: absolute;
  padding: 38px 23px;
  width: 85px;
}
